<div class="page-header">
  <h2>Saved search results</h2>
</div>

<table class="table" id="search_results">
  <thead>
    <tr>
      <th>name</th>
      <th>comment</th>
      <th>evidence items found</th>
      <th>created</th>
    </tr>
  </thead>
    <% @saved_search_results_and_query_params.each do |saved_result, query_params| %>
      <tr class='clickable-row'>
        <% @url = url_for :controller => :search, :action => :index, :q => query_params %>
        <td>
          <a class="clickable-cell" href="<%= @url %>">
            <%= saved_result.name %>
          </a>
        </td>
        <td>
          <a class="clickable-cell" href="<%= @url %>">
            <%= saved_result.comment %>
          </a>
        </td>
        <td>
          <a class="clickable-cell" href="<%= @url %>">
            <%= saved_result.evidence_items.count %>
          </a>
        </td>
        <td>
          <%= saved_result.created_at %>
        </td>
      </tr>
    <% end %>
</table>
