<div class="page-header">
  <h2>Saved search results</h2>
</div>

<table class="table" id="search_results">
  <thead>
    <tr>
      <th>name</th>
      <th>comment</th>
      <th>evidence items found</th>
      <th>created</th>
    </tr>
  </thead>
    <% @saved_search_results.each do |r| %>
      <tr class='clickable-row'>
        <%# @url = url_for :controller => :search, :action => :index, :q => JSON.parse('{"TODO": true}') %>
        <% @url = "TODO" %>
        <td>
          <a class="clickable-cell" href="<%= @url %>">
            <%= r.name %>
          </a>
        </td>
        <td>
          <a class="clickable-cell" href="<%= @url %>">
            <%= r.comment %>
          </a>
        </td>
        <td>
          <a class="clickable-cell" href="<%= @url %>">
            <%= r.evidence_items.count %>
          </a>
        </td>
        <td>
          <%= r.created_at %>
        </td>
      </tr>
    <% end %>
</table>
