<div class="field">
  <%= f.attribute_fields do |a| %>
    <%= a.attribute_select associations: [
      :software_engineering_methods,
      :software_engineering_methodologies,
      :evidence_source,
      :evidence_source_bibtex_tags,
      :evidence_source_bibtex_type
    ] %>
  <% end %>
  <%= f.predicate_select %>
  <%= f.value_fields do |v| %>
      <%= v.text_field :value %>
  <% end %>
  <%= link_to "remove", '#', class: "remove_fields" %>
</div>
