<% content_for :head do %>
  <%= javascript_include_tag "https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js" %>
  <%= stylesheet_link_tag "https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css" %>
<% end %>

<div class="page-header">
  <h2>dummy search result</h2>
</div>

<table class="table" id="search_results">
  <thead>
    <tr>
      <th>result</th>
      <th>benefit</th>
    </tr>
  </thead>
  <tbody>
    <% @evidence_items.each do |e| %>
      <tr>
        <td><%= e.result %></td>
        <td><%= e.benefit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="panel panel-default">
  <div class="panel-heading">share this page</div>
  <div class="panel-body">
    <%= social_share_button_tag(
      "Serler search results for '#{@search_query}'"
    ) %>
  </div>
</div>
