<main class="col-md-10 col-md-offset-1">

<div class="page-header">
  <h2>dummy search result</h2>
</div>

<table class="table">
  <thead>
    <td>column a</td>
    <td>column b</td>
  </thead>
  <tbody>
    <td>val a</td>
    <td>val b</td>
  </tbody>
</table>

<div class="panel panel-default">
  <div class="panel-heading">results</div>
  <div class="panel-body">
    <div class="list-group">
      <% @evidence_items.each do |e| %>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading"><%= e.result %></h4>
          <% @columns_enabled.each do |c| %>
            <p>
              <strong><%= c.humanize %>:</strong>
              <%= e.send c %>
            </p>
          <% end %>
        </a>
      <% end %>
    </div>
  </div>
</div>

<%= form_tag("/search", method: "post") do %>
<div class="panel panel-default">
  <div class="panel-heading">columns to display</div>
  <div class="panel-body">
    <% @columns_available.each do |d| %>
      <div class="input-group">
        <%= check_box_tag(d) %>
        <%= label_tag(d, d.humanize) %>
      </div>
    <% end %>
    <div class="input-group">
      <%= submit_tag("update") %>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">share this page</div>
  <div class="panel-body">
    <%= social_share_button_tag(
      "Serler search results for '#{@search_query}'"
    ) %>
  </div>
</div>
<% end %>
