<% content_for :head do %>

  <%-# DataTables -%>
  <%= stylesheet_link_tag "//cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css" %>
  <%= javascript_include_tag "//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js" %>
  <%= javascript_include_tag "//cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js" %>

  <%-# DataTables Buttons column visibility extension -%>
  <%= stylesheet_link_tag "//cdn.datatables.net/buttons/1.0.3/css/buttons.bootstrap.min.css" %>
  <%= javascript_include_tag "//cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js" %>
  <%= javascript_include_tag "//cdn.datatables.net/buttons/1.0.3/js/buttons.bootstrap.min.js" %>
  <%= javascript_include_tag "//cdn.datatables.net/buttons/1.0.3/js/buttons.colVis.min.js" %>
<% end %>

<div class="page-header">
  <h2><%= link_to "Serler", url_for(:controller => '/pages') %></h2>
  <p>Dummy Search Result</p>
</div>

<table class="table" id="search_results">
  <thead>
    <tr>
      <th>result</th>
      <th>benefit</th>
      <th>software engineering methodology</th>
      <th>software engineering method</th>
      <th class="initially-hidden">source</th>
      <th class="initially-hidden">modified</th>
      <th class="initially-hidden">created</th>
    </tr>
  </thead>
    <% @evidence_items.each do |e| %>
      <tr>
        <td><%= e.result %></td>
        <td><%= e.benefit %></td>
        <td>
          <%= e.software_engineering_methodologies.map(&:name).join(", ") %>
        </td>
        <td>
          <%= e.software_engineering_methods.map(&:name).join(", ") %>
        </td>
        <td><%= e.evidence_source %></td>
        <td><%= e.updated_at %></td>
        <td><%= e.created_at %></td>
      </tr>
    <% end %>
</table>

<div class="row">

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">save search</div>
      <div class="panel-body">

      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">save results</div>
      <div class="panel-body">
        <%= form_for @search_result, url: {controller: "search_results", action: "create"} do |f| %>

          <div class="input-group">
            <%= f.text_field :name, placeholder: "name", class: "form-control" %>
          </div>

          <div class="input-group">
            <%= f.text_field :comment, placeholder: "comment", class: "form-control" %>
          </div>

          <%-# a hidden field containing the found evidence items -%>
          <%= select_tag 'search_result[evidence_items][]',
                          options_from_collection_for_select(
                            @evidence_items,
                            :id,
                            :id,
                            @evidence_items.map(&:id)
                          ),
                          {:multiple => true, :hidden => :hidden } %>

          <%= f.submit "Save" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">share this page</div>
      <div class="panel-body">
        <%= social_share_button_tag(
          "Serler search results for '#{@search_query}'"
        ) %>
      </div>
    </div>
  </div>

</div>
