<%= render "includes" %>

<div class="page-header">
  <h2>Search results</h2>
</div>

<table class="table dataTable">
  <thead>
    <tr>
      <th>result</th>
      <th>benefit</th>
      <th>software engineering methodology</th>
      <th>software engineering method</th>
      <th class="initially-hidden">source</th>
      <th class="initially-hidden">modified</th>
      <th class="initially-hidden">created</th>
    </tr>
  </thead>
    <% @evidence_items.each do |e| %>
      <tr>
        <td><%= e.result %></td>
        <td><%= e.benefit %></td>
        <td>
          <%= e.software_engineering_methodologies.map(&:name).join(", ") %>
        </td>
        <td>
          <%= e.software_engineering_methods.map(&:name).join(", ") %>
        </td>
        <td><%= e.evidence_source %></td>
        <td><%= e.updated_at %></td>
        <td><%= e.created_at %></td>
      </tr>
    <% end %>
</table>

<div class="row">

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">save search query</div>
      <div class="panel-body">
        <%= form_for @saved_search_query do |f| %>


          <% if @saved_search_query.errors.any? %>
            <% @saved_search_query.errors.full_messages.each do |msg| %>
              <div class="alert alert-danger" role="alert">
                <%= msg %>
              </div>
            <% end %>
          <% end %>

          <p class="input-group">
            <%= f.text_field :name, placeholder: "name", class: "form-control" %>
          </p>

          <p class="input-group">
            <%= f.text_area :comment, placeholder: "comment", class: "form-control", rows: "3" %>
          </p>

          <%= f.text_field :search_params, value: @search_params.to_json, type: "hidden"  %>

          <%= f.submit "Save Query", class: "btn btn-primary", name:"save_search_query" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">save search results</div>
      <div class="panel-body">
        <%= form_for @saved_search_result do |f| %>

          <% if @saved_search_result.errors.any? %>
            <% @saved_search_result.errors.full_messages.each do |msg| %>
              <div class="alert alert-danger" role="alert">
                <%= msg %>
              </div>
            <% end %>
          <% end %>

          <p class="input-group">
            <%= f.text_field :name, placeholder: "name", class: "form-control" %>
          </p>

          <p class="input-group">
            <%= f.text_area :comment, placeholder: "comment", class: "form-control", rows: "3" %>
          </p>

          <%-# a hidden field containing the found evidence items -%>
          <%= select_tag 'saved_search_result[evidence_item_ids][]',
                          options_from_collection_for_select(
                            @evidence_items,
                            :id,
                            :id,
                            @evidence_items.map(&:id)
                          ),
                          {:multiple => true, :hidden => :hidden } %>

        <%= f.submit "Save Result", class: "btn btn-primary", name:"save_search_results" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">share this page</div>
      <div class="panel-body">
        <%= social_share_button_tag(
          "Serler search results"
        ) %>
      </div>
    </div>
  </div>

</div>
