<table class="table" id="search_results">
  <thead>
    <tr>
      <th>name</th>
      <th>comment</th>

      <%# TODO: make this a human readable parameter list %>
      <th>URL</th>

      <th>created</th>
    </tr>
  </thead>
    <% @saved_search_queries.each do |q| %>
      <tr class='clickable-row'
        data-href='<%= q.address %>'>
        <td><%= q.name %></td>
        <td><%= q.comment %></td>
        <td>
          <%= q.address %>
        </td>
        <td><%= q.created_at %></td>
      </tr>
    <% end %>
</table>
