<div class="page-header">
  <h2>Saved search queries</h2>
</div>

<table class="table" id="search_results">
  <thead>
    <tr>
      <th>name</th>
      <th>comment</th>
      <th>created</th>
    </tr>
  </thead>
    <% @saved_search_queries.each do |q| %>
      <% @url = url_for :controller => :search, :action => :index, :q => JSON.parse(q.search_params) %>

      <tr>
        <td>
          <a class="clickable-cell" href="<%= @url %>">
            <%= q.name %>
          </a>
        </td>
        <td>
          <a class="clickable-cell" href="<%= @url %>">
            <%= q.comment %>
          </a>
        </td>
          <%= q.created_at %>
        </td>
      </tr>
    <% end %>
</table>
